body {
  font-family: 'Arial', sans-serif;
  /* background-color: #f0f0f0; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  font-family: auto;
}

.card {
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}

.header {
  background-color: #e53935;
  color: #fff;
  text-align: center;
  padding-top: 22px;
}

.profile-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.mycard {
  display: flex;
  padding: 10px 20px;
}

.mycard-data {
  padding-left: 20px;
}

.contact-buttons {
  margin-top: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-buttons button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #ff6f61;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  flex: 1 1 48%;
  margin: 5px 0;
  width: 50%;
}

.contact-buttons button:hover {
  background-color: #d32f2f;
}

.body {
  padding: 20px;
}

.description {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-family: auto;
  /* font-size: 16px; */
}

.contact-info p {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
}

.mycard-data p {
  font-size: 16px;
}

.contact-info i {
  margin-right: 10px;
  color: #e53935;
}

.social-media {
  text-align: center;
  margin-top: 20px;
}

.social-media h3 {
  margin-bottom: 10px;
  color: #333;
  padding: 0 20px;
  font-family: ui-rounded;
  text-align: justify;
  font-size: 20px;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
}

.social-icons a {
  color: #666;
  font-size: 20px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #e53935;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e53935;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
}

.social i {
  color: #fff;
  font-size: 24px;
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #333;
}

.vcard-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.vcard-button:hover {
  background-color: #444;
}

.vcard-button i {
  margin-right: 10px;
}

/* Loader Styles */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.loader-image {
  width: 100px;
  height: 100px;
  animation: zoomInOut 2s ease-in-out forwards;
}

@keyframes zoomInOut {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.5);
  }
}

hr{
  margin: 0px !important;
}